<div class="slider">
  <ngb-carousel *ngIf="students && students.length">
    <ng-template ngbSlide *ngFor="let student of students">
      <img [src]="student.imageName" alt="Random image" (click)="studentClick(student.id)">
      <div class="carousel-caption">
        <h3>Student Name: {{student.name}}</h3>
        <h3>Faculty Name: {{student.facultyName}}</h3>
        <h3>Age: {{student.age}}</h3>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<app-student-detail *ngIf="showStudentDetails" [student]='student' (deleted) ='onStudentDeleted($event)'></app-student-detail>